@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #333;
  background: #ddd;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ボタン */
.button {
  font-size: 1.275rem;
  background: rgb(220, 147, 63);
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
  font-family: "M PLUS 1p";
}

.button:hover {
  background: #bf791f;
}

/* ヘッダー */
.logo {
  width: 290px;
  margin-top: 45px;
}

.btn-menu {
  color: #ddd;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 50px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #ddd;
}

.main-nav a:hover {
  color: #bf791f;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* フッター */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}

/** メニュー */
.button-menu {
  position: absolute;
  top: 12px;
  right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgb(7, 7, 7);
  padding: 0.5rem 1rem;
}

.main-nav {
  width: 0;
  position: absolute;
  top: 25px;
  right: 0;
  overflow: hidden;
  transition: 0.5s;
  display: block;
}

.main-nav li {
  text-align: center;
  margin: 1.5rem 0;
}

.main-nav.open-menu {
  width: 200px;
}



/* モバイル版 */
/* @media (max-width: 600px) {
  h1 {
    color: #0bd;
  }
} */

@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }

  /* HEADER */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }

  .main-nav li {
    margin: 0 20px;
  }

  /* HOME */
  .home-content {
    margin-top: 20%;
  }

  /* NEWS */
  .news-contents {
    flex-direction: column;
  }

  article,
  aside {
    width: 100%;

    #news .page-title {
      margin-top: 30px;
    }

    aside {
      margin-top: 60px;
    }

    .post-info {
      margin-bottom: 30px;
    }

    .post-date {
      width: 70px;
      height: 70px;
      font-size: 1rem;
    }

    .post-date span {
      font-size: 0.875rem;
      padding-top: 2px;
    }

    .post-title {
      font-size: 1.375rem;
    }

    .post-cat {
      font-size: 0.875rem;
      margin-top: 10px;
    }

    .post-title,
    .post-cat {
      margin-left: 80px;
    }
  }

  /* カラムを消す */
  .ad {
    display: none;
  }

  /* ----------------menu--------- */
  .menu-content {
    margin-top: 20%;
  }

  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: minmax(240px, 1fr);
    margin-top: 6%;
    margin-bottom: 50px;
  }

  .big-box {
    grid-column: auto;
    grid-row: auto;
  }

  .big-box img {
    height: auto;
  }

  /*------------- CONTACT------------- */
  #contact .page-title {
    margin-top: 40px;
  }

  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 100%;
  }

  /* 店舗情報・地図 */
  #location .wrapper,
  #sns .wrapper {
    flex-direction: column;
  }

  .location-info,
  .location-map,
  .sns-box {
    width: 100%;
  }

  .sns-box {
    margin-bottom: 30px;
  }
}